@import url("https://unpkg.com/grapick@0.1.13/dist/grapick.min.css"); 

:root {
    --bgImg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 2'%3E%3Cpath d='M1 2V0h1v1H0v1z' fill-opacity='.05'/%3E%3C/svg%3E");
    --c-black01: #000000;
    --c-black02: #020302;
    --c-gray01: #181818;
    --c-gray02: #242529;
    --c-gray03: #292b2f;
    --c-gray04: #2c2c30;
    --c-gray05: #36373a;
    --c-green01: #315526;
    --c-green02: #3c8025;
    --c-green03: #87b169;
    --c-green04: #c2cdbb;
    --c-red01: #9a2720;
    --c-red02: #ff3c41;
    --c-orange01: #ff5b32;
    --c-yellow01: #fcd000;
    --c-white01: #ffffff;
    
    --drawMenuSize: calc(128px / 4);
}

@font-face {
    font-family: koubit001;
    src: url(https://jetrotal.github.io/testing-stuff/koubit001.woff2);
}

.spacer {
    margin: auto !important;
    position: relative;
    min-width: 10px;
    min-height: 10px;
}

.logoText,
.logoEditor,
.logoRTP,
.logoChar,
.logoPlayer {
    text-shadow: 1px 1px #000c;
    font-family: koubit001;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    height: 2.5rem;
    line-height: 1rem;
}

.logoText:before,
body {
    color: var(--c-green04);
    margin:0;
    padding:0;
}

.logoText:before {
    content: "EASY";
}

.logoText:after {
    color: var(--c-green03);
    content: "RPG";
}

.logoRTP:before {
    color: var(--c-yellow01);
    content: "OPEN";
    margin-right: 0.2rem;
}

.logoRTP:after {
    color: var(--c-white01);
    content: "RTP";
}

.logoChar:before {
    color: var(--c-yellow01);
    content: "Easy";
    margin-right: 0.2rem;
}

.logoChar:after {
    color: var(--c-white01);
    content: "Char";
}

.logoEditor:before,
.logoPlayer:before {
    content: " ";
    font-size: 1rem;
}

.logoEditor:after {
    content: "EDITOR";
    color: var(--c-white01);
}

.logoPlayer:after {
    content: "PLAYER";
    color: var(--c-white01);
}

body {
    background-color: var(--c-gray03) !important;
    background-image: var(--bgImg);
    background-size: 32px;
    height: 100vh;
    //overflow: hidden;
}

a {
    color: var(--c-white01);
}

small {
    font-size: 50% !important;
    font-weight: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background-color: #000c;
}

#overlay #info {
    background-color: var(--c-gray01);
    padding: 40px 60px;
}

#overlay #licenseText {
    display: block;
    width: 300px;
    height: 420px;
    background-color: var(--c-white01);
    color: var(--c-black01);
    padding: 5px;
    margin: 10px 0;
    line-height: 1.3;
    resize: none;
}

#header {
    text-align: center;
    background-color: var(--c-gray01);
    padding: 10px;
    box-shadow: 0 0 0 1px var(--c-gray01);
    border-radius: 10px 10px 0 0;
    
}

#header * {
    z-index:210;
    position:relative;
}

#mainArea #picArea {
    display: flex;
    flex-direction: column;
}

#mainArea .layout {
    min-height: 450px;
    padding: 15px;
    display: flex;
    background-color: var(--c-gray02);
    border-radius: 0px;
    box-shadow: 0 0 0 1px var(--c-gray01);
    border-radius: 0 0 10px 10px;
}

#mainArea, #infoContainer{
    display: flex;
    align-items: center;
    margin: auto;
    height: 100vh;
}

#charContainer {
    margin: 0 60px 140px;

    font-size: 0;
    transform: scale(2);
    transform-origin: top center;
    image-rendering: pixelated;
    box-shadow: 0 0 0 0.5px var(--c-green03);
    //pointer-events: none;
 
}

#charOutput {
     cursor: none; 
}

#disclaimer {
    margin: 0 35px;
    width: 300px;
}

/* ------------------- */

.spriteSel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#changeSize{
    width:43%;
}

.spriteSel input[type="color"]:hover {
    transform: translateX(10px) scalex(1.5);
    
}

.spriteSel #color {
    z-index: 99999;
    width: 30px;
    height: 30px;
    pointer-events: all;
    display:none;
}

.spriteSel * {
    border: none;
    color: var(--c-white02);
}

.spriteSel .title,
.spriteSel button,
.spriteSel input {
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.2em;
    text-align: center;
}

.spriteSel .title {
    margin: auto 2px;
    pointer-events: all !important;
    width: auto;
    padding: 0;
}

.spriteSel button,
.spriteSel input {
    width: 30px;
}

.spriteSel input {
    border-left: none;
    border-right: none;
    font-size: 1.2rem;
    /* pointer-events: none; */
    cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    color:cornflowerblue;
    border-bottom: dotted 1px;
    padding: 0;
    font-size: initial;
}

.spriteSel .btn {
    cursor: pointer;
    font-size: 10px;
    margin: auto;
    line-height: 2;
    height: 30px;
    fill: white;
}

.spriteSel label {
    min-width: 80px;
    text-align: left !important;
    margin: auto 5px !important;
}


.spriteSel * {
    background-color: transparent
}

#assetsMenu {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    border-left: solid var(--c-gray01) 1px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.body-type {
    opacity: 0.5;
}

.switch {
    display: inline-block;
    height: 1rem;
    position: relative;
    min-width: 40px !important;
}

.switch input {
    display: none;
}

.slider,
.slider:before {
    position: absolute;
}

.slider {
    background-color: #2196f3 !important;
    border-radius: 34px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
}

.slider:before {
    background-color: #fff;
    border-radius: 100%;
    content: "";
    height: 1rem;
    width: 1rem;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#exporter {
    display: flex;
    font-size:0;
}

#exporter .btn {
    width: 50px
}

#exporter svg {
    max-height: 50px
}

#exporter .btn,
#info .btn {
    fill: white;
    background-color: var(--c-gray01);
    width: -webkit-fill-available;
    /* height: inherit; */
    margin: 0 2px !important;
    text-align: center;
    padding: .7rem;
    cursor: pointer;
}

#info .btn {
    font-size: 1rem;
    background-color: var(--c-green02)
}

#downloader, .btActive {
    background-color: var(--c-green02) !important;
}




.btn:hover, .btActive:hover,
#downloader:hover {
    background-color: var(--c-green03) !important;
    cursor: pointer;
     color: white !important;
    
}

.btActive:hover
 {
    background-color: var(--c-green01) !important;
     cursor: unset !important;
}

.pls {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    z-index:-1
}

@import url("https://unpkg.com/grapick@0.1.13/dist/grapick.min.css") {}

#recolor{
  position:absolute; width: 0; height: 0; overflow: hidden;
}

.grp-handler {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 31px;
    
}


.floaty {
    position:relative;
    transform:translateX(-170px);
    z-index:100;
    pointer-events:none;
    margin: 0 -60px;
}

#colorCheck{
    margin-left:40px;
}

.grp-handler-cp-c {
    display: block!important
}

.grp-handler-cp-wrap {
    border: 0
}

.grp-handler-cp-c * {
    border-radius:  100%  0 100% 100%;
    transform:rotate(-45deg)  ;
    z-index:100;
    position:relative;
    box-shadow: 0 0 0 1px var(--c-gray02);
}

.grp-handler-cp-c *:hover {
    
    box-shadow: 0 0 0 2px white;
}

.grp-handler-drag {
    background-color: rgba(0,0,0,.5)!important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.5);
    width: 5px;
    height: 15px;
}

.grp-handler-drag:hover {
 box-shadow: 0 0 0 2px white;
    width:15px;
    
        transform-origin: right;
}
.grp-wrapper {
    
    transform:scaleY(-1) !important;
}

.grp-handler * {
    margin: 0 !important;
    margin-left: 0 !important;
}


.grp-handler-close {
    //border-radius: 100% 100% 0 0;
    bottom:-37px;
    left:7px;
    position:relative;
    box-shadow: none;
    background-color:none;
    color: #fff;
    font-size: inherit;
    font-weight: 1;
    line-height: inherit;
    opacity:.2;
    padding:4px;
    
}
.grp-handler-close-c {
    opacity:0;
     height:0;
}
.grp-handler:hover .grp-handler-close-c {
    opacity:inherit;
   
}



.grp-handler-close:hover {
    opacity:1;
    color: #fff;
    font-weight: 900;
}

.colorSlider {
    width: 150px;
    padding: 1.05rem 0;
    margin-left:1rem;
}

#paintButtons {
    flex-wrap: wrap;
    position:absolute;
    overflow:visible;
    background-color: var(--c-gray02);
    border-left: .01px solid black;
    border-radius: 0  5px 5px 0
}
#drawPicker {
    border-radius: 0 5px 0 0
}

#colorPickerBtn{
    pointer-events:none; 
    position:absolute; 
    height:0; 
    width:0; 
    opacity:0; 
    overflow:hidden;
    transform: translateX(10px) translateY(-4px);
    z-index:-1;
}



#clearDrawing{
    border-radius: 0  0 5px 0
}

#paintButtons div {
    display: flex;
    min-height: var(--drawMenuSize);
    overflow:hidden;
}

#paintButtons svg {
    padding: -0 1px;


}

#cursors *{
    width:3px;
    height:3px;
    image-rendering: pixelated;
   
    
    
}

#cursors{
     image-rendering: pixelated;
    filter: invert(100%);
    position:absolute;
    z-index:300;
    pointer-events:none;
    mix-blend-mode: exclusion;
    transform-origin:center center;
}
